.example-container  {
    width: 500px;
    height: 300px;
    border: border 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content    {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.example-sidenav    {
    padding: 20px;
}
.wrapper    {
    margin:50px;
}